<h3>Question 1</h3>
Create a pandas series from each of the items below: a list, numpy and a dictionary Input.  Display each of the series after you create them.

In [1]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

#List to pandas series
list_ser = pd.Series(mylist)
print(list_ser.head()) #I used head for each of the print statements so you can see the output easier

#Numpy to pandas series
np_ser = pd.Series(myarr)
print(np_ser.head())

#Dict to pandas series
dict_ser = pd.Series(mydict)
print(dict_ser.head())

0    a
1    b
2    c
3    e
4    d
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int32
a    0
b    1
c    2
e    3
d    4
dtype: int32

<h3>Question 2</h3>
Convert the series ser into a dataframe with its index as another column on the dataframe. Display the series after creation.

In [78]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

#Confront series to a dataframe and reset the index
df = pd.DataFrame(ser).reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

<h3>Question 3</h3>
Get all items of ser1 and ser2 not common to both.  Display the series after creation.

In [35]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

#Checking to see which elements are not present in the other series
t1 = ser1[~ser1.isin(ser2)]
t2 = ser2[~ser2.isin(ser1)]

#Combining series to one series
ser3 = pd.concat([t1,t2])
print(ser3)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

<h3>Question 4</h3>
From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.  Display the series after creation.

In [90]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

#Finding the top 2 most frequent items
most_freq = ser.value_counts().index[:2]

#Replacing every element that is not in the top 2 most frequent 
ser[~ser.isin(most_freq)] = 'Other'

print(ser)

0         4
1         3
2         4
3         3
4     Other
5     Other
6         4
7         3
8     Other
9         4
10        4
11        4
dtype: object

<h3>Question 5</h3>
Bin the series ser into 10 equal quantiles and replace the values with the bin name.  Display the series after creation.

In [91]:
ser = pd.Series(np.random.random(20))
bin = pd.qcut(ser,10,labels=['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th'])
print(bin)

0      2nd
1      6th
2      3rd
3      5th
4      8th
5     10th
6      7th
7      3rd
8      5th
9      9th
10     4th
11     6th
12    10th
13     2nd
14     4th
15     1st
16     1st
17     9th
18     7th
19     8th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']